{% extends 'base.html.twig' %}

{% block body %}
    <h1>Site</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ site.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ site.name }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ site.url }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ site.status }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if site.created %}{{ site.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('site_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('site_edit', { 'id': site.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
